@namespace SkillSnap.Client.Components

<div style="float:clear;">
    <div style="float:left;">
        <img class="img-thumbnail" width="100" height="auto" src="testImgs/blankProfilePic.jpg" />
    </div>

    <div style="float:left; padding-left: 1rem; padding-top:1rem;">
        <h3>Jordan Developer</h3>
        <p>Full-stack developer passionate about learning new tech.</p>
    </div>
    <br />
</div>

@code
{

}