@using SkillSnap.Client.Services;
@using SkillSnap.Client.Models;
@namespace SkillSnap.Client.Components
@inject ProjectService ProjectService;


@if (projects != null)
{
    <div class="d-flex flex-row flex-wrap" style="gap:20px; padding:5px;">
        @foreach(var proj in projects)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4>@proj.Title</h4>

                    <p>@proj.Description</p>
                </div>
            </div>
        }
    </div>
}

else
{
    <p>Loading...</p>
}



@code
{
    private List<Project> projects;
    
    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync();
    }
}