@using SkillSnap.Client.Services
@using SkillSnap.Client.Models
@namespace SkillSnap.Client.Components

<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css"> 



<div class="d-flex flex-row align-items-start flex-wrap" style="gap: 10px 30px;">

        <div>
            <p><span class="w3-tag w3-blue">C#</span></p>
        </div>
        <div>
            <p><span class="w3-tag w3-blue">Blazor</span></p>
        </div>

</div>

@code
{
    
}